body{
    background-color: #171717;
    background-image: url('../images/fondoForms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 25%;
    color: #fff8f8;
    font-family: 'Roboto Slab', serif;
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.formPedido{
    background-color: #17171773;
    height: 60%;
    width: calc(250px + 8vw);
    margin-top: -8vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.iconForm{
    background-image: url('../images/formIcon.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: -7.5vh;
}

.inputs{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

label{
    font-weight: bold;
    font-size: calc(10px + 0.6vw);
    padding: 0 1vw;
    padding-bottom: 1vh;
}

input[type=text]{
    background-color: #fff8f800;
    color: #fff8f8;
    font-family: 'Roboto Slab', serif;
    font-size: calc(0.5vw + 15px);
    border-bottom: 1px groove #fff8f8;
    height: 4vh;
    width: 100%;
    margin-bottom: 3vh;
    padding-left: 9px;
}

input::placeholder{
    color: #bebebe;
}

input[type=submit]{
    background-color: #fff8f8;
    color: #171717;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-weight: bold;
}

.logo2{
    display: none;
}


@media screen and (max-width:1200px){

}

@media screen and (max-width:800px){
    .logo{
        width: 75%;
        justify-content: start;
    }

}

@media screen and (max-width:500px){

    main{
        height: 100vh;
    }
    
    .logo2{
        display: flex;
    }

    .logoP{
        display: none;
    }

    .logo p{
        font-size: calc(10px + 1vw);
    }

    .arriba{
        width: 100%;
        top: 0;
        background-color: #17171738;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding: 10px 0;
    }
}


